body {
  width: 375px;
  margin: 0px;
  font-family: Roboto;
}

.centered {
  display: block;
  margin: 0px auto;
}

.gray-section {
  background-color: #E0E1E2;
}

h2 {
  margin: 0px;
  font-size:20px
}

.main-text {
  font-size: 14px;
  text-align: center;
}

.header {
  text-transform: uppercase;
  text-align: center;
}